<md-card>
<md-table-container ng-controller="TransactionCtrl">
  <table md-table>
    <thead md-head>
      <tr md-row>
        <th md-column>FROM</th>
        <th md-column>TO</th>
        <th md-column>TYPE</th>
        <th md-column>CATEGORY</th>
        <th md-column>DATE</th>
        <th md-column>MEMO</th>
        <th md-column md-numeric>TOTAL</th>
      </tr>
    </thead>
    <tbody md-body>
        <tr md-row ng-repeat="t in transactions">
          <td md-cell>{{ t.from }}</td>
          <td md-cell>{{ t.to }}</td>
          <td md-cell>{{ t.type }}</td>
          <td md-cell>{{ t.category }}</td>
          <td md-cell>{{ t.date.toISOString().slice(0,10) }}</td>
          <td md-cell>{{ t.memo }}</td>
          <td md-cell>{{ t.total | number: 2 }}</td>
        </tr>
    </tbody>
  </table>
</md-table-container>
</md-card>
