<table ng-controller="TransactionCtrl" class="striped centered card">
  <thead>
    <tr>
      <th>FROM</th>
      <th>TO</th>
      <th>TYPE</th>
      <th>CATEGORY</th>
      <th>DATE</th>
      <th>MEMO</th>
      <th style="text-align: right;padding-right: 1.5em;">TOTAL</th>
    </tr>
  </thead>
  <tbody>
      <tr ng-repeat="t in transactions">
        <td>{{ t.from }}</td>
        <td>{{ t.to }}</td>
        <td>{{ t.type }}</td>
        <td>{{ t.category }}</td>
        <td>{{ t.date.toISOString().slice(0,10) }}</td>
        <td>{{ t.memo }}</td>
        <td style="text-align: right;padding-right: 1.5em;">{{ t.total.toFixed(2) }}</td>
      </tr>
  </tbody>
</table>
