<!doctype html>
<html lang="en" ng-app="app">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/material-icons.css">
  <link rel="stylesheet" href="/scripts/angular-material/angular-material.min.css">
  <link rel="stylesheet" href="/css/md-data-table.min.css">

  <script src="/scripts/angular/angular.min.js"></script>
  <script src="/js/md-data-table.min.js"></script>
  <script src="/scripts/angular-route/angular-route.min.js"></script>
  <script src="/scripts/angular-animate/angular-animate.min.js"></script>
  <script src="/scripts/angular-aria/angular-aria.min.js"></script>
  <script src="/scripts/angular-messages/angular-messages.min.js"></script>
  <script src="/scripts/angular-material/angular-material.min.js"></script>
  <script src="/app/app.js"></script>
  <script src="/app/controllers/TransactionCtrl.js"></script>
  <script src="/app/controllers/SummaryCtrl.js"></script>
</head>

<body ng-controller="AppCtrl">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <md-truncate>
          Beulah
        </md-truncate>

        <span flex=""></span>
        <md-button class="md-fab md-mini" aria-label="Favorite">
          <md-icon>add</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-content>
      <div id="all">
        <div layout="row">
          <div flex>
            <% include summary/summary.ejs %>
          </div>
        </div>

        <div layout="row">
          <div flex="100">
            <% include table/table.ejs %>
          </div>
        </div>
      </div>
    </md-content>

  <div id="addTransactionModal" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>New</h4>
      <% include form/add-transaction.ejs %>
    </div>
    <div class="modal-footer">
      <button type="submit" form="addTransaction" class="modal-action modal-close waves-effect waves-green btn-flat">Submit</button>
    </div>
  </div>
</body>
</html>
