<html>
<head>
  <link rel="stylesheet" href="/css/material.min.css">
  <link rel="stylesheet" href="index.css">
</head>
<body class="mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
  <div class="mdl-layout__container has-scrolling-header">
    <div class="mmdl-layout mdl-js-layout mdl-layout--fixed-header has-tabs is-upgraded is-small-screen" data-upgraded=",MaterialLayout">
      <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
        <div class="mdl-layout--large-screen-only mdl-layout__header-row"></div>
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
          <h3>Beulah</h3>
        </div>
        <div class="mdl-layout--large-screen-only mdl-layout__header-row"></div>
        <div class="mdl-layout__tab-bar-container">
          <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark mdl-js-ripple-effect--ignore-events" data-upgraded=",MaterialRipple">
            <a href="#overview" class="mdl-layout__tab">Overview<span class="mdl-layout__tab-ripple-container mdl-js-ripple-effect" data-upgraded=",MaterialRipple"><span class="mdl-ripple"></span></span></a>
            <a href="#features" class="mdl-layout__tab">Features</a>
            <a href="#features" class="mdl-layout__tab">Details</a>
            <a href="#features" class="mdl-layout__tab">Technology</a>
            <a href="#features" class="mdl-layout__tab">FAQ</a>
          </div>
        </div>
      </header>
      <main class="mdl-layout__content">
        <div class="mdl-layout__tab-panel is-active" id="overview">
          <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">

          </section>
        </div>
      </main>
    </div>
  </div>
</body>
</html>

<style>
  <% include index.css %>
</style>
