<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="/css/material.min.css">
  <link rel="stylesheet" href="/css/application.css">
  <script src="/js/material.min.js"></script>
  <script src="/js/jquery.min.js"></script>

  <link rel="stylesheet" href="/css/getmdl-select.min.css">
  <script defer src="/js/getmdl-select.min.js"></script>
</head>

<body class="mdl-demo mdl-base">
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header mdl-color--primary">
      <div class="mdl-layout__header-row mdl-layout--large-screen-only"></div>
      <div class="mdl-layout__header-row">
        <h2>Beulah</h2>
      </div>
      <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
        <a href="#all" class="mdl-layout__tab is-active">All</a>
        <a href="#transfers" class="mdl-layout__tab">Transfers</a>
        <div class="mdl-layout-spacer"></div>
        <a href="#add" class="mdl-layout__tab">Add</a>
      </div>
    </header>

    <main class="mdl-layout__content">
      <section class="mdl-layout__tab-panel is-active" id="all">
        <div class="page-content">
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell mdl-cell--1-col"></div>
            <div class="mdl-cell mdl-cell mdl-cell--10-col">
              <% include summary/summary.ejs %>
              <% include table/table.ejs %>
            </div>          
            <div class="mdl-cell mdl-cell mdl-cell--1-col"></div>
          </div>
        </div>
      </section>

      <section class="mdl-layout__tab-panel" id="transfers">
        <div class="page-content">
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell mdl-cell--1-col"></div>
            <div class="mdl-cell mdl-cell mdl-cell--10-col">
              <% include table/transfers.ejs %>
            </div>          
            <div class="mdl-cell mdl-cell mdl-cell--1-col"></div>
          </div>
        </div>
      </section>

      <section class="mdl-layout__tab-panel" id="add">
        <div class="page-content">
          <% include form/add-transaction.ejs %>
        </div>
      </section>
    </main>
  </div>
</body>
</html>
