<!doctype html>
<html>
<head>
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/css/materialize.min.css">
  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/js/materialize.min.js"></script>
  <script>
    $(document).ready(function() {
      $('select').material_select();
      $('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 15 // Creates a dropdown of 15 years to control year
      });
    });
  </script>
</head>

<body>
  <div calss="navbar-fixed">
    <nav class="nav-extended">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">&nbsp Beulah</a>
      </div>
      <div class="nav-content">
        <ul class="tabs tabs-transparent">
          <li class="tab"><a href="#all">All</a></li>
          <li class="tab"><a href="#transactions">Transactions</a></li>
          <li class="tab"><a href="#add">Add</a></li>
        </ul>
      </div>
    </nav>
  </div>

  <div id="all">
    <div class="row">
      <div class="col s0 m1 l1"></div>
      <div class="col s12 m10 l10">
        <% include summary/summary.ejs %>
      </div>
      <div class="col s0 m1 l1"></div>
    </div>

    <div class="row">
      <div class="col s0 m1 l1"></div>
      <div class="col s12 m10 l10">
        <% include table/table.ejs %>
      </div>
      <div class="col s0 m1 l1"></div>
    </div>
  </div>

  <div id="transactions">
    <div class="row">
      <div class="col s0 m1 l1"></div>
      <div class="col s12 m10 l10">
        <% include table/transfers.ejs %>
      </div>
      <div class="col s0 m1 l1"></div>
    </div>
  </div>

  <div id="add">
    <div class="row">
      <div class="col s0 m1 l3"></div>
      <div class="col s12 m10 l6">
        <% include form/add-transaction.ejs %>
      </div>
      <div class="col s0 m1 l3"></div>
    </div>
  </div>
</body>
</html>
