<!doctype html>
<html lang="en" ng-app="app">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/material-icons.css">
  <link rel="stylesheet" href="/css/materialize.min.css">
  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/js/materialize.min.js"></script>
  <script src="/js/angular.min.js"></script>
  <script src="/js/angular-route.min.js"></script>
  <script src="/app/app.js"></script>
  <script src="/app/controllers/TransactionCtrl.js"></script>
  <script src="/app/controllers/SummaryCtrl.js"></script>
  <script>
    $(document).ready(function() {
      $('.modal').modal();
      $('select').material_select();
      $('.datepicker').pickadate({
        selectMonths: true,
        selectYears: 15
      });
    });
  </script>
</head>

<body>
  <div calss="navbar-fixed">
    <nav class="nav-extended black">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">&nbsp Beulah</a>
      </div>
      <div class="nav-content row">
        <a id="addTransactionButton" href="#addTransactionModal" class="btn-floating btn-large halfway-fab waves-effect waves-light">
          <i class="material-icons orange">add</i>
        </a>
      </div>
    </nav>
  </div>

  <div id="all">
    <div class="row">
      <div class="col s0 m1 l1"></div>
      <div class="col s12 m10 l10">
        <% include summary/summary.ejs %>
      </div>
      <div class="col s0 m1 l1"></div>
    </div>

    <div class="row">
      <div class="col s0 m1 l1"></div>
      <div class="col s12 m10 l10">
        <% include table/table.ejs %>
      </div>
      <div class="col s0 m1 l1"></div>
    </div>
  </div>

  <div id="addTransactionModal" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>New</h4>
      <% include form/add-transaction.ejs %>
    </div>
    <div class="modal-footer">
      <button type="submit" form="addTransaction" class="modal-action modal-close waves-effect waves-green btn-flat">Submit</button>
    </div>
  </div>
</body>
</html>
