<div ng-controller="SummaryCtrl">
  <md-list ng-cloak>
    <md-subheader class="md-no-sticky">ALL DEBTS</md-subheader>
    <md-list-item ng-repeat="debt in debts">
      {{ debt.from.toUpperCase() }} owns {{ debt.total.toFixed(2) }} to {{ debt.to.toUpperCase() }}
    </md-list-item>
  </md-list>
</div>
