<div ng-controller="SummaryCtrl">
  <ul class="demo-list-icon mdl-list">
    <li ng-if="debts.length==2" class="mdl-list__item">
      <span class="mdl-list__item-primary-content">
        <i class="material-icons mdl-list__item-icon">person</i>
        {{ debts[0].from }} owns {{ debts[0].total.toFixed(2) }} to {{ debts[1].from }}
      </span>
    </li>

    <li ng-if="debts.length>2" ng-repeat="debt in debts" class="mdl-list__item">
      <span class="mdl-list__item-primary-content">
        <i class="material-icons mdl-list__item-icon">person</i>
        {{ debt.from }} owns {{ debt.total.toFixed(2) }} to pool
      </span>
    </li>
  </ul>
</div>
