<form ng-submit="submit()" id="addTransaction">
  <md-radio-group id="type" ng-model="transaction.type">
    <div>
      <md-radio-button value="expense" ng-click="selectType('expense');"
                       class="md-primary" aria-label="Expense" style="height: 2.5em;">
        <md-icon style="font-size: 2.5em;">domain</md-icon>
      </md-radio-button>
    </div>
    <div>
      <md-radio-button value="transfer" ng-click="selectType('transfer');"
                       aria-label="Transfer" style="height: 3em;">
        <md-icon style="font-size: 3em;">swap_horiz</md-icon>
      </md-radio-button>
    </div>
  </md-radio-group>

  <div layout="row">
    <div flex="45" layout="column">
      <md-select id="from" ng-model="transaction.from" placeholder="From" class="md-no-underline">
        <md-option value="xuebin">Xuebin</md-option>
        <md-option value="yunhe">Yunhe</md-option>
      </md-select>
    </div>
    <div flex></div>
    <div flex="45" layout="column">
      <md-select id="to" ng-model="transaction.to" ng-disabled="transaction.type=='expense'"
                 placeholder="To" class="md-no-underline">
        <md-option value="xuebin">Xuebin</md-option>
        <md-option value="yunhe">Yunhe</md-option>
      </md-select>
    </div>
  </div>

  <div layout="row">
    <div flex="45" layout="column">
      <md-select id="category" ng-model="transaction.category" ng-disabled="transaction.type=='transfer'"
                 placeholder="Category" class="md-no-underline">
        <md-option value="Rent">Rent</md-option>
        <md-option value="Internet">Internet</md-option>
        <md-option value="Electric">Electric</md-option>
        <md-option value="Restaurant">Restaurant</md-option>
        <md-option value="Other">Other</md-option>
      </md-select>
    </div>
    <div flex></div>
    <div flex="45" layout="column">
      <md-datepicker id="date" ng-model="transaction.date" md-placeholder="Enter Payment Date"
                     md-open-on-focus="true"></md-datepicker>
    </div>
  </div>

  <div flex="100" layout="column">
    <md-input-container id="total" class="md-block">
      <label>Total</label>
      <input type="number" step="0.01" name="total" ng-model="transaction.total" min="0">
    </md-input-container>
  </div>

  <div flex="100" layout="column">
    <md-input-container id="memo" class="md-block">
      <label>Memo</label>
      <input name="memo" ng-model="transaction.memo">
    </md-input-container>
  </div>
</form>
