<form ng-submit="submit()" id="addTransaction">
  <md-radio-group id="type">
    <md-radio-button ng-model="transaction.type" value="expense" ng-click="selectType('expense');" class="md-primary" >
      Expense
    </md-radio-button>
    <md-radio-button ng-model="transaction.type" value="transfer" ng-click="selectType('transfer');">
      Transfer
    </md-radio-button>
  </md-radio-group>

  <div layout="column">
    <div flex="50">
      <md-select id="from" ng-model="transaction.from" placeholder="From" class="md-no-underline">
        <md-option value="xuebin">Xuebin</md-option>
        <md-option value="yunhe">Yunhe</md-option>
      </md-select>
    </div>

    <div flex="50">
      <md-select id="to" ng-model="transaction.to" ng-attr-disabled="disabled('to')" placeholder="To" class="md-no-underline">
        <md-option value="xuebin">Xuebin</md-option>
        <md-option value="yunhe">Yunhe</md-option>
      </md-select>
    </div>

    <div flex="50">
      <md-select id="category" ng-model="transaction.category" placeholder="Category" class="md-no-underline">
        <md-option value="Rent">Rent</md-option>
        <md-option value="Internet">Internet</md-option>
        <md-option value="Electric">Electric</md-option>
        <md-option value="Restaurant">Restaurant</md-option>
        <md-option value="Other">Other</md-option>
      </md-select>
    </div>

    <div flex="50">
      <md-datepicker id="date" ng-model="transaction.date" md-placeholder="Enter Date" md-open-on-focus="true"></md-datepicker>
    </div>

    <div flex="50">
      <md-input-container id="total" class="md-block">
        <label>Total</label>
        <input required type="number" step="0.01" name="total" ng-model="transaction.total" min="0">
      </md-input-container>
    </div>

    <div flex="50">
      <md-input-container id="memo" class="md-block">
        <label>Memo</label>
        <input name="memo" ng-model="transaction.memo">
      </md-input-container>
    </div>
  </div>
</form>
