<form ng-submit="submit()" id="addTransfer">
  <div layout="row">
    <md-select flex="45" id="from" ng-model="transaction.from" placeholder="From">
      <md-option ng-repeat="member in members" ng-value="member.first">
        {{ member.first.toUpperCase() }}
      </md-option>
    </md-select>
    <div flex></div>
    <md-select flex="45" id="to" ng-model="transaction.to" placeholder="To">
      <md-option ng-repeat="member in members" ng-value="member.first">
        {{ member.first.toUpperCase() }}
      </md-option>
    </md-select>
  </div>

  <div layout="row">
    <md-input-container flex="40">
      <md-datepicker id="date" ng-model="transaction.date" md-placeholder="Enter Payment Date" md-open-on-focus="true"></md-datepicker>
    </md-input-container>
    <div flex></div>
    <div flex="55">
      <md-input-container id="total" class="md-block">
        <label>Total</label>
        <input type="number" step="0.01" name="total" ng-model="transaction.total" min="0">
      </md-input-container>
    </div>
  </div>

  <div layout="row">
    <md-input-container flex="100" id="memo" class="md-block">
      <label>Memo</label>
      <input name="memo" ng-model="transaction.memo">
    </md-input-container>
  </div>
</form>
